{{#> base title="Page unavailable - 500 Error"}}
<nav class="navbar navbar--error navbar-fixed-top">
  <div class="container-fluid">
    <a href="/" class="navbar-logo"></a>
  </div>
</nav> <!-- /.navbar -->

<div class="container-fluid container--error">
  
  <div class="errorPage">
    <div class="errorPage-details">
      
      <div class="errorPage-icon">
        <span class="errorPage-code">500</span>
      </div> <!-- /.errorPage-icon -->
      
      <div class="errorPage-content">
        <h2 class="errorPage-message">Page unavailable</h2>
        
        <p class="errorPage-message errorPage-message--small">
          Seems there's a server hiccup.
        </p>
        
        <p class="errorPage-message errorPage-message--small">
          Our engineers have been notified so do <a href="/">check back</a>
          on us later.
        </p>
      </div> <!-- /.errorPage-content -->
      
    </div> <!-- /.errorPage-details -->
  </div> <!-- /.errorPage -->

</div> <!-- /.container-fluid -->
{{/base}}
