{{#> base scrollspyTarget="#navbar"}}
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" id="navbar"
     data-spy="affix" data-offset-top="20">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo--type" href="#top">
        Striving <span class="logo-highlight">Link</span>
      </a>
    </div>
    <div id="navbar-collapse" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#approach">Approach</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#cases">Cases</a></li>
        <li><a href="#contact" class="navbar-button">Talk to us</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<section class="pitch">
  <img class="background background--small" src="assets/img/pitch-small.jpg">
  <img class="background background--large" src="assets/img/pitch.jpg"
       onload="this.className += ' is-loaded'">

  <div class="container">
    <div class="content">
      
      <h1>Engineering consultants for your project</h1>
      <p>
        Striving Link's team delivers technological innovations that improve
        lives and bridge the technology gap in Nigeria.
      </p>

      <div class="btn-group">
        <a href="#contact" class="btn btn--primary btn--lg">
          Talk to us
        </a>
        <a href="#approach" class="btn btn--white btn--lg">
          Learn more
        </a>
      </div>

      <div class="clients-list">
        <h4>Trusted by</h4>
        <ul>
          <li title="PHCN">
            <img src="/assets/img/clients/phcn.svg">
          </li>
          <li title="National Sports Commission">
            <img src="/assets/img/clients/soccer.svg">
          </li>
          <li title="Federal Ministry of Agriculture">
            <img src="/assets/img/clients/agriculture.svg">
          </li>
        </ul>
      </div>
      
    </div> <!-- /.content -->
  </div>
</section> <!-- /.pitch -->

<section id="approach" class="approach">
  <div class="container">
    <header>
      <h2>Approach</h2>
      <h3>How we work</h3>
    </header>
    
    <div class="content">
      <ol>
        <li>
          <div class="card">
            <h4>1. Start at no risk</h4>
            <p>
              We'll create and you'll evaluate proposals. After this we can
              discuss the estimated time and cost. Until this point, where we
              agree on the final project terms, you pay nothing.
            </p>
          </div>
        </li>
                
        <li>
          <div class="card">
            <h4>2. Fixed-price</h4>
            <p>
              After approving the full list of deliverables with you, we'll give
              you a fixed, unchanging price.
            </p>
          </div>
        </li>

        <li>
          <div class="card">
            <h4>3. Status updates</h4>
            <p>
              We'll give you periodic status updates of all tasks and you may
              inquire about the process at any time.
            </p>
          </div>
        </li>

        <li>
          <div class="card">
            <h4>4. End-to-end management</h4>
            <p>
              We take care of the entire development process, and this work is
              included in the project price.
            </p>
          </div>
        </li>

        <li>
          <div class="card">
            <h4>5. Testing and QA</h4>
            <p>
              We pay close attention to details. To ensure accurate work and
              expected results we heavily invest in our quality assurance
              processes.
            </p>
          </div>
        </li>
      </ol>
    </div> <!-- /.content -->
  </div>
</section> <!-- /.approach -->

<section id="services" class="services is-dark">
  <div class="container">
    <header>
      <h2>Services</h2>
      <h3>What we offer</h3>
    </header>
    
    <div class="content">
      <ol class="row row--equalHeights">
        <li class="col-sm-6 col-md-4">
          <div class="card">
            <h4>Electrical Supplies</h4>
            <p>
              Supplying the numerous electrical equipment and components PHCN
              requires to run steadily.
            </p>
          </div>
        </li>

        <li class="col-sm-6 col-md-4">
          <div class="card">
            <h4>Construction</h4>
            <p>
              Building  and maintaining infrastructure needed to improve
              Nigeria's power generation, transmission and distribution.
            </p>
          </div>
        </li>
        
        <li class="col-sm-6 col-md-4">
          <div class="card">
            <h4>Technological Innovations</h4>
            <p>
              Developing tools that improve efficiency of businesses and
              ease the lives of Nigerians.
            </p>
          </div>
        </li>
        
        <li class="col-sm-6 col-md-4">
          <div class="card">
            <h4>Native Mobile Development</h4>
            <p>
              Developing native apps for iOS with attention to the details.
            </p>
          </div>
        </li>

        <li class="col-sm-6 col-md-4">
          <div class="card">
            <h4>Web Development</h4>
            <p>
              Developing beautiful responsive web apps with highly performant
              backend and take care fo your cloud infrastructure management.
            </p>
          </div>
        </li>

        <li class="col-sm-6 col-md-4">
          <div class="card">
            <h4>UI & UX Design</h4>
            <p>
              Developing user interfaces and improving user experience to let
              you achieve business goals
            </p>
          </div>
        </li>
      </ol>
    </div> <!-- /.content -->
  </div>
</section> <!-- /.services -->


<section id="cases" class="cases is-light">
  <div class="container">
    <header>
      <h2>Cases</h2>
      <h3>Mobile, Web, HW</h3>
    </header>
    
    <div class="content">
      <ol class="row row--equalHeights">
        
        {{#> flip-card
           image="easypay.jpg"
           title="EasyPay"
           summary="Parking meters doubling as bill payment kiosks"
           hardware=true
           url="http://nnoduka.com/made/easypay/"
           urlText="Website"}}
        <p>
          We developed a prototype embedded system packaged as
          a parking meter that could be used to pay utility bills. The kiosks
          were designed to be data-enabled, solar-powered, and weather-proof.
          <br><br>
          This project aimed at making Nigeria a cash-free society.
        </p>
        {{/flip-card}}
        
        {{#> flip-card
           image="ringpad.jpg"
           title="RingPad"
           summary="Cheaper international phone calls"
           ios=true
           backend=true
           url="https://ringpad.co/"
           urlText="ringpad.co"
           details="We developed the modern day international calling card in
           the form of an iOS app. With RingPad, there will be no more entering
           of pins and jumping through hoops to call home."}}
        {{/flip-card}}
        
        {{#> flip-card
           image="raven.jpg"
           title="Raven"
           summary="File transfers made simple"
           web=true
           backend=true
           url="https://tryraven.com/"
           urlText="tryraven.com"
           details="We developed Raven to solve the problem of sending files 
           to others without installing software on everyone's devices or 
           clogging inboxes and/or cloud storage."}}
        {{/flip-card}}
        
        {{#> flip-card
           image="gravvy.jpg"
           title="Gravvy"
           summary="Mobile app for creating videos with friends"
           ios=true
           backend=true
           url="https://itunes.apple.com/us/app/gravvy/id1017480922?ls=1&mt=8"
           urlText="App Store"
           details="We developed the social platform where anyone can share 
           short clips with friends and they can respond by adding their own 
           clips. This was a fun way of creating video messages for special
           events when everyone can't be in the same room."}}
        {{/flip-card}}
        
        {{#> flip-card
           image="volleyy.jpg"
           title="Volleyy"
           summary="Email newsletters that make you successful"
           web=true
           backend=true
           url="https://volleyy.com/"
           urlText="volleyy.com"
           details="We developed the platform that helps you compose beautiful
           newsletters that keep your customers coming back. Our tools let you
           focus on your content while we optimize your email to boost reader 
           engagement."}}
        {{/flip-card}}
        
        {{#> flip-card
           image="retrac.jpg"
           title="Retrac"
           summary="Mobile app for retracing your steps"
           hardware=true
           url="https://itunes.apple.com/us/app/retrac/id906573871?ls=1&mt=8"
           urlText="App Store"
           details="We developed an iOS app that makes it easy to find your way 
           back to any important spot. This means no more looking for your car 
           in parking lots, or your favorite stores in malls."}}
        {{/flip-card}}
        
      </ol>
    </div> <!-- /.content -->
  </div>
</section> <!-- /.cases -->

<footer id="contact">
  <div class="container">
    <div class="logo--type">
      Striving <span class="logo-highlight">Link</span>
    </div>

    <div class="row contact-details">
      <div class="col-sm-6 col-md-4">
        <h4>Office</h4>
        <p>Block C12, Flat 4, 17 Street Games Village, Abuja</p>
        <p><strong>RC:</strong> 285501</p>
      </div>

      <div class="col-sm-6 col-md-4">
        <h4>Contact</h4>
        <p><strong>P:</strong> +234 808 977 7265</p>
        <p><strong>P:</strong> +234 803 453 6665</p>
        <p>
          <strong>E:</strong>
          <a href="mailto:info@strivinglink.com">info@strivinglink.com</a>
        </p>
      </div>
    </div>

    <div class="copyright">
      &copy; <span class="copyright-year"></span> Striving Link Ltd
    </div>
    
  </div>
</footer>

{{/base}}
